* {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

.header{
    color: white;
    background-color: #1f2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-logo img {
    height: 50px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.title-sub{
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 40px;
}

.header-body {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    padding: 50px; 
    gap: 20px;
}

.hb-left {
    flex: 1;
    min-width: 300px;
}

.hb-right img {
    max-height: 300px;
    margin-left: 44px;
}

button {
    background-color: rgb(27, 57, 104);
    color: white;
    padding: 15px 70px;
    border-radius: 8px;
    border: none;
}

button:hover {
    background-color: rgb(40, 80, 145);
    cursor: pointer;
}

.h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 50px;
}

.boxes {
    color: #1f2937;
    font-size: 18px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.img-txt {
    width: 150px;
    height: 150px;
    border: 5px solid black;
    border-radius: 10px;
}

.section2 {
    margin: 50px;
    text-align: center;
}

.img-txt img {
    width: 150px;
    height: 150px;
}

.img-txt p {
    text-align: center;
}